<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JGKVO.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>817EC2CE1D6BC50F005FA078</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>817EC2E71D6BC50F005FA078</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>817EC2F21D6BC50F005FA078</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
